body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.social-media {
  display: flex;
  justify-content: space-around;
  a {
    margin: 5px;
    text-decoration: none;
    color: black;
    font-size: xx-large;
  }
}
