.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.menuItem {
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
  background-color: dimgrey;
  border-radius: 4px;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.menuItem:hover {
  background-color: black;
  transform: scale(1.05);
}
