.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}